### 리스트
순서가 존재하고 중복을 허용하는 자료 구조형
파이썬에는 변수 타입이 존재하지 않아 리스트의 타입이 고정되어 있지 않음
리스트 표현: [요소1, 요소2, 요소3]

In [12]:
array = [1, 1.23, True, '문자열']
array

[1, 1.23, True, '문자열']

In [13]:
array[1]

1.23

In [14]:
array[2] = False
array

[1, 1.23, False, '문자열']

In [15]:
for item in array:
    item = 10
array

[1, 1.23, False, '문자열']

##### 리스트의 길이
```python
len(리스트)
```


len(array)

In [16]:
for index in range(len(array)):
    array[index] = 0

array

[0, 0, 0, 0]

##### 리스트에 요소 추가하기
```python
리스트.append(요소)  # 마지막 인덱스에 요소를 추가
리스트.insert(인덱스, 요소)  # 특정 인덱스에 요소를 삽입
리스트.extends(리스트)  # 리스트를 확장
```

In [17]:
numbers = [10, 22, 33]
numbers

[10, 22, 33]

In [19]:
numbers.append(14)
numbers

[10, 22, 33, 14, 14]

In [20]:
numbers.insert(9, 10)
numbers

[10, 22, 33, 14, 14, 10]

In [21]:
numbers.insert(1, -10)
numbers

[10, -10, 22, 33, 14, 14, 10]

In [23]:
numbers.extend(100)

TypeError: 'int' object is not iterable

In [24]:
numbers.extend([100])
numbers

[10, -10, 22, 33, 14, 14, 10, 100]

In [25]:
numbers.extend([100, 22])
numbers

[10, -10, 22, 33, 14, 14, 10, 100, 100, 22]

##### 리스트에서 요소 삭제
``` python
del 요소 # 요소를 메모리 상에서 제거
.pop 요소 # 마지막 요소를 반환하고 제거
.pop(인덱스) # 특정 인덱스 요소를 반환하고 제거
remove(요소값) # 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)
```

In [26]:
del numbers[0]
numbers

[-10, 22, 33, 14, 14, 10, 100, 100, 22]

In [27]:
numbers.pop()

22

In [28]:
numbers

[-10, 22, 33, 14, 14, 10, 100, 100]

In [29]:
numbers.pop(2)

33

In [30]:
numbers

[-10, 22, 14, 14, 10, 100, 100]

In [31]:
numbers.remove(100)

In [32]:
numbers

[-10, 22, 14, 14, 10, 100]

##### 리스트 슬라이싱
```python
리스트[시작인덱스:종료인덱스]
```

In [33]:
numbers[1:4]

[22, 14, 14]

In [34]:
numbers

[-10, 22, 14, 14, 10, 100]

In [35]:
numbers[:4]

[-10, 22, 14, 14]

In [36]:
numbers[2:]

[14, 14, 10, 100]

##### 리스트의 복수 할당
```python
변수1, 변수1 = [요소1, 요소2] # 각 변수에 요소를 직접 할당
```

In [37]:
numbers = [22, 16, 20]
numbers

[22, 16, 20]

In [39]:
number1, number2, number3 = numbers
number3

20

### 딕셔너리
key, value를 하나의 쌍으로 관리하는 자료 구조
순서가 존재하지 않고 Key는 중복을 허용하지 않으며, Value는 중복될 수 있음
딕셔너리변수 = { key1: value1, key2: value2, ... }
Key와 Value는 어떠한 형태의 데이터 타입이든 가질 수 있음

In [41]:
fruits = {
    'apple': '사과',
    'banana' : '바나나',
    'carrot' : '당근'
}
fruits

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [42]:
fruits['apple']

'사과'

In [44]:
fruits['banana'] = '버네이너'
fruits

{'apple': '사과', 'banana': '버네이너', 'carrot': '당근'}

In [45]:
len(fruits)

3